.search-pokemon-form {
    margin: 20px;
}
.search-pokemon-form input {
    padding: 1rem 2rem;
    font-size: 3vh;
    border-radius: 50px;
    border: none;
    outline-style: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 250ms ease-in-out;
}

.search-pokemon-form input:focus {
    transform: scale(1.09);
}
